body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f9;
}

header {
    background-color: #0b3d91;
    color: white;
    padding: 40px;
    text-align: center;
}

nav {
    background-color: #082c63;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: 500;
}

nav a:hover {
    color: #4da6ff;
}

main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}

.card {
    background: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}
.tabela thead th {
    background-color: #0b3d91;
    color: white;
    font-weight: 600;
}

.tabela tbody tr:nth-child(even) {
    background-color: #f2f6fb;
}
